.footer_css{
    background: RGB(245,245,245);
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    padding: 6px 16px;
    line-height: 1.5;
    display: flex;
    z-index: 1001;
}