.logo_img{
    height: 48px;
    width: 290px;
}
.arrow{
    color: RGB(115, 113, 111);
}
.div_select{
    margin-left: auto;
    align-items: center;
}
.header_select{
    background-color: RGB(242,242,242);
    width: 350px;
}
.menu_item_css{
    padding:-50px;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1rem;
    color: #1976d2;
}